body {
    font-size: 16px;
    line-height: 23px;
    padding-top: 0;
}

header {
    background-color: #616A74;
    color: white;
    border-bottom: solid 4px #E6E6E6;
    padding-bottom: 20px;
    padding-top: 20px;
}

footer {
    padding: 70px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
    background-color: whiteSmoke;
}

/* Fixed subnav on scroll, but only for 980px and up (sorry IE!) */
@media (min-width: 980px) {
    .subnav-fixed {
        top: 0;
    }
}
