parameters:
	ignoreErrors:
		-
			message: "#^Else branch is unreachable because ternary operator condition is always true\\.$#"
			count: 1
			path: src\CompiledContainer.php

		-
			message: "#^Negated boolean expression is always false\\.$#"
			count: 1
			path: src\CompiledContainer.php

		-
			message: "#^Negated boolean expression is always false\\.$#"
			count: 2
			path: src\Compiler\Compiler.php

		-
			message: "#^If condition is always false\\.$#"
			count: 1
			path: src\Compiler\Compiler.php

		-
			message: "#^Else branch is unreachable because ternary operator condition is always true\\.$#"
			count: 2
			path: src\Container.php

		-
			message: "#^Negated boolean expression is always false\\.$#"
			count: 1
			path: src\Container.php

		-
			message: "#^Result of && is always false\\.$#"
			count: 1
			path: src\ContainerBuilder.php

		-
			message: "#^Else branch is unreachable because ternary operator condition is always true\\.$#"
			count: 1
			path: src\ContainerBuilder.php

		-
			message: "#^Negated boolean expression is always false\\.$#"
			count: 1
			path: src\Definition\ArrayDefinitionExtension.php

		-
			message: "#^Parameter \\#1 \\$definition \\(DI\\\\Definition\\\\InstanceDefinition\\) of method DI\\\\Definition\\\\Resolver\\\\InstanceInjector\\:\\:resolve\\(\\) should be compatible with parameter \\$definition \\(DI\\\\Definition\\\\ObjectDefinition\\) of method DI\\\\Definition\\\\Resolver\\\\ObjectCreator\\:\\:resolve\\(\\)$#"
			count: 1
			path: src\Definition\Resolver\InstanceInjector.php

		-
			message: "#^Instanceof between DI\\\\Definition\\\\Definition and DI\\\\Definition\\\\AutowireDefinition will always evaluate to false\\.$#"
			count: 1
			path: src\Definition\Source\SourceCache.php

		-
			message: "#^Parameter \\#1 \\$autoload_function of function spl_autoload_register expects callable\\(string\\)\\: void, ProxyManager\\\\Autoloader\\\\AutoloaderInterface given\\.$#"
			count: 1
			path: src\Proxy\ProxyFactory.php

