@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,700,200italic,400italic,700italic);
@import "../bower_components/bootstrap/less/bootstrap.less";
@import "../bower_components/fontawesome/less/font-awesome.less";
@import "variables.less";
@import "home.less";
@import "blog.less";

body {
    color: #525252;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    margin-top: 60px;
}

p {
    line-height: 1.5;
    margin: 10px 0 20px;
}
h1 {
    font-size: 48px;
    font-weight: 200;
}
h2 {
    font-size: 36px;
    font-weight: 400;
    color: #525252;
    text-decoration: none;
    margin: 30px 0;
}
h3 {
    font-size: 24px;
    font-weight: 400;
    margin: 24px 0;
}

code {
    font-size: 80%;
    color: #A83838;
    background-color: @grey-background-light;
}
pre {
    border-radius: 0;
    background-color: @grey-background-light;
    border-color: @background-colored;
}
pre code {
    background: transparent;
}
.hljs {
    background: transparent;
    padding: 0;
}

.btn {
    border-radius: 0;
}

.navbar {
    .navbar-default {
        background-color: @grey-background-light;
    }
    .navbar-nav {
        a {
            text-transform: uppercase;
            font-size: 11px;
            letter-spacing: .2rem;
        }
    }
}

article {
    padding: 30px 0 50px 0;
    h1 {
        margin: 0 0 32px;
        padding-bottom: 32px;
        border-bottom: solid 1px @border-color;
    }
}

.documentation {
    .sidebar {
        border-right: 1px solid @border-color;
        width: 250px;
        float: left;
        padding: 35px 35px 35px 0;

        ul {
            list-style: none;
            padding: 0;
            li {
                font-size: 18px;
                font-weight: 400;
                margin-bottom: 20px;
                ul {
                    border-top: 1px dashed @border-color;
                    display: block;
                    list-style: none;
                    margin: 10px 0 0 0;
                    padding: 10px 0 0 0;
                    li {
                        font-size: 14px;
                        margin-bottom: 5px;
                    }
                }
            }
        }
    }
    article {
        margin-left: 300px;
    }
}

footer {
    background: @background-colored;
    margin-top: 50px;
    padding: 40px 0;
    font-size: 90%;
    text-align: center;
    color: #9e9e9e;
}
