body {
    color: #25394d;
    font-family: 'Asap', sans-serif;
    padding-top: 60px;
}
body p, body ul {
    font-size: 18px;
    line-height: 1.5;
}

a {
    color: #16a085;
}

a:hover {
    color: #1abc9c;
}

h1, h2, h3, h4, h5 h6 {
    font-family: 'Asap', sans-serif;
}
h1, h2, h3 {
    font-weight: bold;
}
h1 {
    font-size: 60px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: -1px;
}
h2 {
    font-size: 38px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.btn {
    border: none;
    text-decoration: none;
    text-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-image: none;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-backface-visibility: hidden;
    background-color: #1abc9c;
    color: #fff;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 2;
}
.btn:hover, .btn:focus {
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background-color: #1edadc;
    color: #fff;
}
.btn.btn-lg {
    line-height: 3;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    padding: 0 24px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.navbar {
    text-align: center;
    background-color: #EBEBEB;
    border: none;
}
.nav>li>a:hover, .nav>li>a:focus {
    background-color: #f6f6f6;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.footer {
    margin-top: 80px;
}
.footer p {
    font-size: 14px;
}

pre, code {
    background: #f8f8ff;
}
code {
    font-family: monospace;
    font-size: 14px;
    line-height: 18px;
}
code.small {
    font-size: 12px;
    line-height: 16px;
}

img.framework-logo {
    max-height: 60px;
}

hr {
    margin-top: 40px;
}
