body{
    padding-top: 60px;
    background: #fff url("../img/back.png") repeat;
    font-size: 15px;
    color: #666;
    font-weight: 300;
}

h1,h2,h3,h4,h5,h6{
    color: #333;
    margin: 0;
    padding: 0;
    font-weight: 600;
}

h1{
    font-size: 35px;
    line-height: 45px;
}

h2{
    font-size: 30px;
    line-height: 45px;
}

h3{
    font-size: 21px;
    line-height: 40px;
}

h4{
    font-size: 18px;
    line-height: 35px;
}

h5{
    font-size: 15px;
    line-height: 32px;
}

blockquote {
    color: #777;
}


a:hover,a:active,a:focus{
    outline: 0;
}

:focus{
    outline:none;
}

strong{
    font-weight: 700;
    color: #000;
}

.normal{
    font-weight: 300 !important;
}

hr{
    margin: 10px 0;
    padding: 0;
    border-top: 1px solid #eee;
    border-bottom: 0 solid #999;
    height: 0;
}

/* Colors */

a {
    color: #3990be;
}

a:hover {
    color: #256c93;
}

.color {
    color: #3079a0;
}

.navbar .btn {
    background: #3079a0;
}

.navbar .btn:hover {
    background: #256c93;
}

.navbar .nav > li > a:hover {
    background: #3079a0 !important;
}

.navbar .nav .active > a,
.navbar .nav .active > a:hover,
.navbar .nav .active > a:focus {
    background: #3079a0 !important;
}

header {
    border-top: 4px solid #256c93;
    border-bottom: 2px solid #256c93;
    background: #3079a0;
}



.title{
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #eee;
}

.title span{
    font-size: 12px;
}

input, textarea, label{
    border-radius: 2px !important;
    box-shadow: none !important;
    font-size: 13px !important;
}

.center{
    text-align: center;
}

.small{
    font-size: 13px;
}

.red{
    color: #f01b2f;
}

.violet{
    color: #9914e5;
}

.blue{
    color: #2fc8d2;
}

.green{
    color: #27c937;
}

.orange{
    color: #f05f39;
}

.pink{
    color: #f84fba;
}

/* Half column */

.col-left{
    width: 48%;
    float: left;
}

.col-right{
    width: 48%;
    float: right;
}

/* Well */

.well{
    box-shadow: none;
    background: #fafafa;
    border-radius: 5px;
}

/* Navbar */

.navbar-inverse .navbar-inner {
    background: #1b1b1b;
}

.navbar *,.nav-collapse *{
    font-size: 14px;
    font-weight: 600 !important;
    text-shadow:none !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    color: #fff !important;
}

.navbar * i {
    font-weight: normal !important;
}

.navbar-inner{
    border-bottom: 0 !important;
}

.navbar .nav {
    height: 60px;
}

.navbar .nav > li > a {
    padding: 20px;
}

.navbar .btn-navbar{
    margin: 15px;
}

.navbar .brand {
    padding: 16px 20px 14px !important;
    font-size: 23px;
    font-weight: 700 !important;
}

.navbar .caret{
    border-top-color:#fff !important;
    border-bottom-color:#fff !important;
}

.navbar .nav > li > a:hover{
    filter:none !important;
}

.navbar .nav .active > a,
.navbar .nav .active > a:hover,
.navbar .nav .active > a:focus {
    filter:none !important;
}

/* Header */

header {
    padding: 30px 20px 40px 20px;
    color: #fff;
}

header .title {
    text-align:center;
    background: none;
    border: 0;
    box-shadow: none;
    padding: 0;
    padding-bottom: 10px;
    margin: 0;
}

header .title h1 {
    color: #fff;
    font-size: 50px;
    line-height: 60px;
    font-weight: 700;
}

header .title h1 small {
    color: #fff;
    margin-top: 10px;
    font-size: 28px;
    line-height: 33px;
}

/* Content */


.main{
    position: relative;
    z-index:10;
    max-width: 980px;
    margin: 0 auto;
    padding: 25px 15px 25px 15px;
    background: #fff;
    margin-top: -49px;
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
    border: 1px solid rgba(0,0,0,0.2);
    border-bottom: 0px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.main .list-padd{
    margin: 10px 15px;
}

.main .list-padd li{
    margin: 5px 0px;
}

/* Hero */

.hero{
    text-align: center;
    max-width: 800px;
    margin: 15px auto;
}


/* Github */

.github {
    text-align: center;
    margin: 30px 0 15px;
    background-color: #fafafa;
    padding: 16px 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 15px;
    line-height: 30px;
    font-weight: 600;
    color: #888;
}


/* Footer */

footer {
    background: #f9f9f9;
    padding-top: 20px;
    padding-bottom: 0;
    font-size: 13px;
    line-height: 25px;
    border-top: 1px solid #ccc;
}

footer .container-fluid{
    max-width: 960px;
    margin: 0 auto;
}

footer a{
    color: #888;
}

footer a:hover{
    color: #666;
    text-decoration: none;
}

footer hr{
    height: 0px;
    padding: 0px;
    margin: 7px 0px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #fff;
}


/* Responsive */

@media (max-width: 480px){
    body{
        padding-top: 0;
    }
}

@media (max-width: 767px){
    body{
        padding-top: 0;
    }
    header,.main,footer{
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
    header{
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
    }
    header .title h1 {
        font-size: 35px;
        line-height: 45px;
    }
    header .title h1 small {
        font-size: 18px;
        line-height: 28px;
    }
    .navbar .nav {
        height: auto !important;
    }
    .navbar-fixed-top{
        margin-bottom: 0px !important;
    }
    .dropdown-menu{
        background: transparent !important;
        border: 0px !important;
    }
    .dropdown-menu a{
        background: transparent !important;
        border: 0px !important;
        color: #fff !important;
    }
    .dropdown-menu a:hover,.dropdown-menu a:focus{
        filter:none !important;
    }
    .main{
        margin-top: 0;
        box-shadow: none;
        border-radius: 0;
    }
}

@media (min-width: 768px) and (max-width: 979px){
    body{
        padding-top: 0;
    }
    .navbar .nav {
        height: auto !important;
    }
    .navbar-fixed-top{
        margin-bottom: 0px !important;
    }
    .dropdown-menu{
        background: transparent !important;
        border: 0px !important;
    }
    .dropdown-menu a{
        background: transparent !important;
        border: 0px !important;
        color: #fff !important;
    }
    .dropdown-menu a:hover,.dropdown-menu a:focus{
        filter:none !important;
    }
    .main{
        border-radius: 0;
    }
}
