{% extends "default.twig" %}

{% block content %}
    <div class="home">

        <section class="jumbotron">
            <div class="container">
                <h1>
                    PHP-DI <strong>5</strong>
                </h1>
                <p>
                    The dependency injection container for humans
                </p>
                <p>
                    <a href="{{ baseUrl }}/doc/getting-started.html" class="btn btn-lg btn-primary">
                        Get started
                    </a>
                    <a href="{{ baseUrl }}/doc/" class="btn btn-lg btn-default">
                        Documentation
                    </a>
                </p>
            </div>
        </section>

        <section class="odd">
            {% include 'home_autowiring.twig' %}
        </section>

        <section class="">
            {% include 'home_configuration.twig' %}
        </section>

        <section class="odd">
            {% include 'home_modules.twig' %}
        </section>

        <section class="">
            {% include 'home_container.twig' %}
        </section>

        <section class="odd">
            {% include 'home_frameworks.twig' %}
        </section>

    </div>

{% endblock %}

{% block footerTop %}
    <p>
        Developed with care -
        <a href='https://travis-ci.org/mnapoli/PHP-DI'>
            <img src="https://img.shields.io/travis/mnapoli/PHP-DI.svg?style=flat-square"></a>
        <a href='https://scrutinizer-ci.com/g/mnapoli/PHP-DI/'>
            <img src="https://img.shields.io/scrutinizer/g/mnapoli/PHP-DI.svg?style=flat-square"></a>
        <a href='https://coveralls.io/r/mnapoli/PHP-DI?branch=master'>
            <img src="https://img.shields.io/coveralls/mnapoli/PHP-DI/master.svg?style=flat-square" alt='Coverage Status'></a>
    </p>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(function() {
            var url = "https://api.github.com/repos/mnapoli/php-di/contributors?callback=?";

            $.getJSON(url, function (result) {
                var elem = $('.contributors');
                elem.empty();
                for (var i = 0; i < Math.min(result.data.length, 6); ++i) {
                    var img = result.data[i].avatar_url;
                    var name = result.data[i].login;
                    var url = result.data[i].html_url;
                    elem.append($("<li class='col-md-1'><a class='thumbnail' title='" + name + "' href='" + url + "'><img src='" + img + "'/></a></li>"));
                }
            });
        });
    </script>

{% endblock %}
