<div class='container'>

    <h2>Autowiring</h2>

    <div class="row">

        <div class='col-md-6'>
            <p>
                Type-hint your constructor parameters and the container can guess which dependencies to inject.
            </p>
<pre><code class="php">class Foo
{
    private $bar;

    public function __construct(Bar $bar)
    {
        return $this->bar = $bar;
    }
}</code></pre>
            <p>
                Covers 80% of the use cases for 0 configuration.
            </p>
        </div>

        <div class='col-md-6'>
            <p>
                Mark a property to be injected using a annotations. Particularly useful in controllers, CLI command, system tests…
            </p>
<pre><code class="php">class Foo
{
    /**
    * @Inject
    * @var Bar
    */
    private $bar;

}</code></pre>
            <p>
                Autowiring and annotations are optional and can be disabled.
            </p>
        </div>

    </div>

</div>
