h1 {
    margin-bottom: 10px;
}

h2 {
    margin-top: 30px;
    margin-bottom: 20px;
}

p {
    margin: 5px 0 15px;
}

strong {
    color: black;
}

.single-post-w .post-content {
    font-size: 18px;
    line-height: 28px;
}

.section-wrapper {
    min-height: 400px;
}
